@import "../../sass/misc/Variables.scss";
@import "../../sass/misc/Mixins.scss";

.checkout {
    width: 70rem;
    min-height: 15rem;
    height: auto;
    padding: 2rem;
    border-radius: 3rem;
    background-color: $base;
    color: $primary;
    box-shadow: 9px 6px 9px 0px rgba(0,0,0,0.4);
    margin: 4rem auto 1rem;
    &-title{
        text-align: start;
        font-size: $font-big-titles;
        font-family: $font-principal;
        width: 100%;
        border-bottom: 2px solid $base-shadow;
        padding: 1rem 0;
        margin-bottom: 2rem;
    }
    &-text {
        text-align: start;
        font-size: $font-medium;
        font-family: $font-text;
    }
    &-contact {
        background-color: $base-shadow;
        border-radius: 1.4rem;
        padding: 1rem 2rem;
        .checkout-subtitle {
            text-align: start;
            font-size: $font-titles;
            font-family: $font-principal;
            width: 100%;
            border-bottom: 2px solid $secondary;
            margin-bottom: 1.5rem;
            padding: 0.5rem 0;
        }
    }
    .loader {
        @include flex(default, center, center, default);
        width: 100%;
        height: 100%;
    }
}