@import "../../sass/misc/Variables.scss";
@import "../../sass/misc/Mixins.scss";


.form-title {
    text-align: start;
    font-size: $font-big-titles;
    font-family: $font-principal;
    width: 100%;
    border-bottom: 2px solid $base-shadow;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.form-detail{
    @include flex(default, space-between, default,default);
    .form-buy{
        @include flex(column, space-evenly, default, default);
        min-height: 25rem;
        height: auto;
        width: 30rem;
        &-input{
            background-color: $base-shadow;
            padding: 0.5rem 0.7rem;
            border: none;
            border-radius: 0.7rem;
            font-size: $font-base;
            width: 100%;
        }
        .btn {
            background-color: transparent;
            color: $secondary;
            border: $secondary 2px solid;
            transition: all 150ms ease-in;
            font-family: $font-principal;
            width:50%;
            align-self: center;
            &:hover{
                color: $primary;
                background-color: $secondary;
                transition: all 150ms ease-in;
            }
        }
        .form-error {
            color: $secondary-shadow;
            font-size: $font-base;
            text-align: start;
            padding: 0 0.7rem;
        }
    }
    .cart-info{
        width: 40%;
        box-shadow: 9px 6px 9px 0px rgba(0,0,0,0.4);
        padding: 0 2rem;
        border-radius: 2rem;
        background-color: $base-shadow;
        text-align: start;
        height: 18rem;
        &-title{
            font-family: $font-principal;
            font-size: $font-titles;
            border-bottom: $base 2px solid;
            padding: 0.5rem 0;
            margin-bottom: 1rem;
        }
        &-detail {
            .cart-info-data{
                font-family: $font-text;
                font-size: $font-base;
            }
            .cart-info-offer{
                font-family: $font-titles;
                font-size: $font-base;
                color: $secondary;
            }
            .cart-info-total{
                font-family: $font-titles;
                font-size: $font-medium;
                padding: 1rem 0;
                width: 100%;
                border-top: 2px solid $secondary;
            }
        }
    }
}