@import "../../sass/misc/Mixins.scss";
@import "../../sass/misc/Variables.scss";

.games-cards {
    @include flex(default, space-evenly, center, wrap);
    min-height: 51vh;
    height: 100%;
    padding: 0 5rem;
}