@import "../sass/misc/Variables.scss";
@import "../sass/misc/Mixins.scss";

#footer{
    height: 15rem;
    background-color: $base;
    color: $primary;
    padding: 1.7rem 3.5rem;
    margin-top: 3rem;
    .footer-nav {
        @include flex(default, space-around, center, default);
        div:nth-child(n+2){
            border-left: 2px solid $secondary;
            padding-left: 3rem
        }
        .footer-section{
            @include flex(column, default, flex-start, default);
            width: 20%;
            height: 11rem;
            .footer-title{
                font-size: $font-titles;
                font-family: $font-principal;
            }
            .footer-item{
                font-size: $font-base;
                font-family: $font-text;
                color: $primary;
                iconify-icon{
                    margin-right: 1rem;
                }
                &:hover{
                    color: $secondary;
                    text-decoration: underline;
                }
            }
            .footer-brand {
                margin: auto 0;
                img {
                    width: 100%;
                }
            }
        }
    }
}